<div id="footer" class="container-fluid mt-5">
  <hr />
  <div id="section" class="my-4 d-flex justify-content-between">
    <div>
      <h5>Categories</h5>
      <ul style="list-style-type: none;" class="p-0">
        <li>
          <a class="text-primary" href="/">Home</a>
        </li>
        <li>
          <a class="text-primary" href="/world">World</a>
        </li>
        <li>
          <a class="text-primary" href="/india">India</a>
        </li>

        <li>
          <a class="text-primary" href="/business">Business</a>
        </li>
        <li>
          <a class="text-primary" href="/politics">Politics</a>
        </li>
        <li>
          <a class="text-primary" href="/politics">Culture</a>
        </li>
        <li>
          <a class="text-primary" href="/tech">Tech</a>
        </li>
        <li>
          <a class="text-primary" href="/about">About</a>
        </li>
        <li>
          <a class="text-primary" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div>
      <h5>Information</h5>
    <ul style="list-style-type: none;" class="p-0">
        <li>
            <a class="text-primary" href="/about">About</a>
        </li>
        <li>
            <a class="text-primary" href="/world">Contact Us</a>
        </li>
       
    </div>
    <div >
      <h5>Tags</h5>
    <span class="badge badge-secondary mb-2 p-4">World</span>
    <span class="badge badge-secondary mb-2 p-4">Business</span>
    <span class="badge badge-secondary mb-2 p-4">Sports</span>
    <span class="badge badge-secondary mb-2 p-4">Tech</span>
    <span class="badge badge-secondary mb-2 p-4">India</span>
    <span class="badge badge-secondary mb-2 p-4">Politics</span>
    </div>
    <div>
      <p style="font-size:40px;">Get latest news delivered daily</p>
    </div>
  </div>
  <hr>
  <div class="conatiner text-center">
    <div>© 2019 TOI, Inc. All Rights Reserved.</div>
  </div>
</div>
