<div class="container-fluid header text-center">
  <div class="upper-header ">
    <div class="container d-flex justify-content-between">
      <div>Time</div>
      <div>
        <a href="/login" class="badge"> Sign in </a>

        <a href="https://www.facebook.com/TimesofIndia" class="badge "
          ><img src="/image/fb.png" class="image"
        /></a>
        <a href="https://twitter.com/timesofindia" class="badge "
          ><img src="/image/twit.png" class="image"
        /></a>
        <a href="https://timesofindia.indiatimes.com/rss.cms" class="badges"
          ><img src="/image/rss.png" class="image"
        /></a>
        <a
          href="https://www.youtube.com/user/TimesOfIndiaChannel"
          class="badge "
          ><img src="/image/ytb.jpeg" class="image"
        /></a>
      </div>
    </div>
  </div>
  <div class="title">
    <div class="container">
      <a href="/"><h1>THE TIMES OF INDIA</h1></a>
    </div>
  </div>
  <div class="menu">
    <div class="container d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg ">
        <div id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topic/world">World</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topic/india">India</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/topic/business">Business</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topic/politics">Politics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topic/culture">Culture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topic/sports">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topic/tech">Tech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publish">Publish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
