<div class="mb-3">
  <h2>Recent Posts..</h2>
</div>
<div class="card mb-3" style="width: 22rem;">
  <img src="/image/bus1.jpg" class="card-img-top" alt=".." />
  <div class="card-img-overlay ">
    <h5 class="card-title ">
      <span class="badge badge-warning">Sports</span>
    </h5>
    <h5 class="card-text text-white">
      This is a wider card with supporting text
    </h5>
    <br />
    <p class="card-text ">Last updated 3 mins ago</p>
  </div>
</div>
<div class="card mb-3" style="width: 22rem;">
  <img src="/image/bus1.jpg" class="card-img-top" alt=".." />
  <div class="card-img-overlay ">
    <h5 class="card-title ">
      <span class="badge badge-warning">Sports</span>
    </h5>
    <h5 class="card-text text-white">
      This is a wider card with supporting text
    </h5>
    <br />
    <p class="card-text ">Last updated 3 mins ago</p>
  </div>
</div>
<div class="card mb-3" style="width: 22rem;">
  <img src="/image/bus1.jpg" class="card-img-top" alt=".." />
  <div class="card-img-overlay ">
    <h5 class="card-title ">
      <span class="badge badge-warning">Sports</span>
    </h5>
    <h5 class="card-text text-white">
      This is a wider card with supporting text
    </h5>
    <br />
    <p class="card-text ">Last updated 3 mins ago</p>
  </div>
</div>
<div class="card mb-3" style="width: 22rem;">
  <img src="/image/bus1.jpg" class="card-img-top" alt=".." />
  <div class="card-img-overlay ">
    <h5 class="card-title ">
      <span class="badge badge-warning">Sports</span>
    </h5>
    <h5 class="card-text text-white">
      This is a wider card with supporting text
    </h5>
    <br />
    <p class="card-text ">Last updated 3 mins ago</p>
  </div>
</div>
