<html>
  <% include ./partials/header %>

  <body>
    <% include ./partials/navbar %>
    <div class="container mt-5 ">
      <div class="d-flex justify-content-between">
        <div class="card " style="width: 70rem;">
          <img src="/image/obama.jpg" class="card-img-top" alt=".." />
          <div class="card-img-overlay align-bottom">
            <h5 class="card-title ">
              <span class="badge badge-warning">World</span>
            </h5>
            <h3 class="card-text text-white">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </h3>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
        <div style="margin-left:15px">
          <div class="d-flex flex-wrap">
            <div class="card mb-3 mr-3" style="width: 15rem;">
              <img src="/image/media.jpg" class="card-img-top" alt=".." />
              <div class="card-img-overlay align-bottom">
                <h5 class="card-title ">
                  <span class="badge badge-warning">World</span>
                </h5>
                <h5 class="card-text text-white">
                  This is a wider card with supporting text
                </h5>
                <br />
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
            <div class="card mb-3 mr-3" style="width: 15rem;">
              <img src="/image/media.jpg" class="card-img-top" alt=".." />
              <div class="card-img-overlay align-bottom">
                <h5 class="card-title ">
                  <span class="badge badge-Warning">Media</span>
                </h5>
                <h5 class="card-text text-white">
                  This is a wider card with supporting text
                </h5>
                <br />
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
            <div class="card mr-3" style="width: 15rem;">
              <img src="/image/media.jpg" class="card-img-top" alt=".." />
              <div class="card-img-overlay ">
                <h5 class="card-title ">
                  <span class="badge badge-warning">News</span>
                </h5>
                <h5 class="card-text text-white">
                  This is a wider card with supporting text
                </h5>
                <br />

                <p class="card-text ">Last updated 3 mins ago</p>
              </div>
            </div>
            <div class="card" style="width: 15rem;">
              <img src="/image/media.jpg" class="card-img-top" alt=".." />
              <div class="card-img-overlay ">
                <h5 class="card-title ">
                  <span class="badge badge-warning">Sports</span>
                </h5>
                <h5 class="card-text text-white">
                  This is a wider card with supporting text
                </h5>
                <br />
                <p class="card-text ">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="d-flex justify-content-between ">
        <div class="main flex-grow-1">
          <div class="Bus1 d-flex justify-content-between">
            <div class="left d-flex flex-column">
              <div class="card mb-3 mr-3" style="width: 22rem;">
                <img src="/image/bus1.jpg" class="card-img-top" alt=".." />
                <div class="card-img-overlay ">
                  <h5 class="card-title ">
                    <span class="badge badge-warning">Sports</span>
                  </h5>
                  <h5 class="card-text text-white">
                    This is a wider card with supporting text
                  </h5>
                  <br />
                  <p class="card-text ">Last updated 3 mins ago</p>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 22rem;">
                <div class="row no-gutters">
                  <div class="col-md-6 p-2">
                    <img
                      src="image/bhago.jpg"
                      class="card-img"
                      alt="..."
                      style="height:160px"
                    />
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <p>
                        Lorem ipsum dolor sit amet consectetur
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 22rem;">
                <div class="row no-gutters">
                  <div class="col-md-6 p-2">
                    <img
                      src="image/bhago.jpg"
                      class="card-img"
                      alt="..."
                      style="height:160px"
                    />
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <p>
                        Lorem ipsum dolor sit amet consectetur
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right d-flex flex-column">
              <div class="card mb-3 mr-3" style="width: 22rem;">
                <img src="/image/bus1.jpg" class="card-img-top" alt=".." />
                <div class="card-img-overlay ">
                  <h5 class="card-title ">
                    <span class="badge badge-warning">Sports</span>
                  </h5>
                  <h5 class="card-text text-white">
                    This is a wider card with supporting text
                  </h5>
                  <br />
                  <p class="card-text ">Last updated 3 mins ago</p>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 22rem;">
                <div class="row no-gutters">
                  <div class="col-md-6 p-2">
                    <img
                      src="image/bhago.jpg"
                      class="card-img"
                      alt="..."
                      style="height:160px"
                    />
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <p>
                        Lorem ipsum dolor sit amet consectetur
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 22rem;">
                <div class="row no-gutters">
                  <div class="col-md-6 p-2">
                    <img
                      src="image/bhago.jpg"
                      class="card-img"
                      alt="..."
                      style="height:160px"
                    />
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <p>
                        Lorem ipsum dolor sit amet consectetur
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <% include ./partials/sidebar %>
        </div>
      </div>
    </div>
    <% include ./partials/footer%>
  </body>
</html>
